########################################
# Unity Generated
########################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

########################################
# Unity Addressables
########################################

/ServerData
/Assets/StreamingAssets/aa*
/Assets/AddressableAssetsData/*/*.bin*

########################################
# Visual Studio / Rider / VSCode
########################################

.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

########################################
# OS Files
########################################

.DS_Store
Thumbs.db

########################################
# Build Outputs
########################################

*.apk
*.aab
*.unitypackage
*.app
*.exe
*.zip
*.rar

########################################
# Crash / Logs
########################################

sysinfo.txt
mono_crash.*
crashlytics-build.properties

########################################
# Optional - Ignore Asset Store Tools
########################################

/Assets/AssetStoreTools*